<div class="container">
	<h2>Publishers Available</h2>
	<table border="1" class="table">
		<tr>
			<th>Name</th>
			<th>Country</th>
			<th>Genre Page</th>
		</tr>
		<% @publishers.each do |publisher| %>
		<tr>
			<td><%= publisher.name %></td>
			<td><%= publisher.country %></td>
			<td><%= link_to 'Publisher Page', publisher_path(publisher) %></td>
		</tr>
		<% end %>
	</table>
</div>
			
	
